<mat-accordion multi *ngIf="posts.length > 0">
  <mat-list *ngFor="let post of posts">
    <mat-list-item>
      <mat-card>
          {{post.name}} - {{post.content}}
          <mat-action-row>
            <button mat-button color="primary">LIKE</button>
            <button mat-button color="accent">FOLLOW</button>
          </mat-action-row>
      </mat-card>
    </mat-list-item>
  </mat-list>
</mat-accordion>
<mat-card class="no-posts" *ngIf="posts.length === 0">There are no posts!</mat-card>
